* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    height: 100%;
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

ul {
    list-style: none;
}

.right .top {
    /*background: aqua;*/
    border-bottom: 1px solid #645e5e;
}

.left .center {
    /*background: brown;*/
    border-top: 1px solid #645e5e;
    border-bottom: 1px solid #645e5e;
}
.parent {
    /*width: 100%;*/
    /*height: 100%;*/
    background: #38b0c3;
    text-align: center;
    padding: 30px;
    font-family: Poppins, sans-serif;
}

.parent .left {
    flex: 0 0 230px;
    /*margin-right: 10px;*/
    min-width: 230px;
    /*overflow-y: scroll;*/
    border-radius: 40px 0 0 40px;
    background: #fff;
    border-right: 1px solid #645e5e;
}

.left .top h3 {
    font-weight: 400;
}

.left .top p {
    font-weight: 200;
}

.left .top li h3 {
    font-weight: 600;
}

.left .top li h5 {
    font-weight: 400;
    margin-bottom: 0;
}

.left .top li h6 {
    font-weight: 200;
    margin: 0;
}

.left .bottom .gray, .left .bottom h4 {
    color: #c6c2c2;
}

.left .bottom h4 {
    font-weight: 200;
    margin-top: 0;
}

.parent .right {
    /*flex: 1 1 100%;*/
    flex-basis: 100%;
    flex-grow: 1;
    background: #fff;
    border-radius: 0 40px 40px 0;
}

.parent .left .top {
    flex: 0 0 230px;
    margin: 10px 0;
    border-top-left-radius: 50px;
}

.parent .left .top ul {
    justify-content: space-around;
    padding-left: 0;
}

.center .navbar-toggler-icon::before {
    content: "";
    background: #000dff;
    height: 8px;
    width: 30px;
    display: inline-block;
    margin: 0 10px;
}

.center h5 {
    text-align: start;
}

.parent .left .bottom {
    flex: 0 0 200px;
    margin: 10px 0;
    border-radius: 0 0 0 50px;
}


.parent .right .top {
    flex: 0 0 100px;
    margin: 10px 0;
}

.parent .right .top ul {
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.parent .right .top a {
    text-decoration: none;
    color: dimgrey;
    text-transform: uppercase;
}

.parent .right .buttons {
    flex: 0 0 100px;
    max-height: 100%;
    overflow-y: auto;
    justify-content: space-between;
}

.parent .right .buttons .two_buttons {
    align-items: center;
    padding: 0 30px;
}

.right .buttons .two_buttons h2 {
    margin-right: 50px;
}

.right .two_buttons .navbar-toggler-icon::before {
    content: "";
    background: #000dff;
    height: 25px;
    width: 8px;
    display: inline-block;
    margin: 0 10px;
}

.parent .right .buttons .for_buttons {
    justify-content: space-between;
    align-items: center;
}

.parent .right .buttons .for_buttons ul {
    justify-content: space-between;
    width: 100%;
}

.parent .right .list_btn {
    flex: 1 1 100%;;
    margin: 10px 0;
}

.parent .right .list_btn ul {
    text-align: start;
    margin: 20px 0 85px;
}

.parent .right .list_btn li {
    position: relative;
    margin-bottom: 20px;
}

.right .list_btn li .img_s {
    position: absolute;
    top: 15px;
    width: auto;
}

.right .list_btn li h2, .right .list_btn li p {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 80px

}

button.blue_btn {
    background: #1D92FF;
    color: #FFFFFF;
    border-radius: 12px;
    font-size: 14px;
    border: 3px solid rgba(202, 197, 197, 0.14);
    padding: 10px 57px;
}

.buttons .for_buttons button {
    background: transparent;
    color: #645e5e;
    text-transform: uppercase;
    border: none;
    padding: 5px 10px;
}

.buttons .for_buttons li {
    margin-right: 20px;
}

.buttons .for_buttons button:hover {
    border-radius: 20px;
    background: royalblue;
    color: white;
}

.fas.fa-check-circle {
    color: royalblue;
}

